# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
out/
dist/
build/

# Turbo
.turbo/

# Env / secrets
.env
.env*.local
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel
